Repository MicroClub-USTHB/C-Language, pull requests merged in 2020-10, with the labels that each got.

#10 Create ADLAOUI_Abs.cpp
  Algorithems/Math/ADLAOUI_Abs.cpp
Labels: Hacktoberfest

#14 Add files via upload
  Algorithems/Math/average.c
  Algorithems/Math/isDivisible.c
Labels: Level-1, Math, hacktoberfest-accepted

#15 Add files via upload
  Algorithems/Math/isODD.c
Labels: Level-1, Math, hacktoberfest-accepted

#16 this in reponse for the issue binary search in array in c
  Algorithems/Searching/Binary Search.c
  Algorithems/Searching/readme.md
Labels: Hacktoberfest, hacktoberfest-accepted

#17 this files containt fonction related to display matrix and create it
  Algorithems/Data Manipulation copy/Matrices/addtowMat.c
  Algorithems/Data Manipulation copy/Matrices/display.c
  Algorithems/Data Manipulation copy/Matrices/display.h
  Algorithems/Math/Debbah_Mehdi_fibonacci.c
Labels: Data Manipulation, Hacktoberfest, hacktoberfest-accepted

#18 implementation of insertion sort in C
  Algorithems/Sort/Insertion sort.c
Labels: Hacktoberfest, hacktoberfest-accepted
